@import './flexbox-util.css';

:root {
  --primary: #41B883;
  --secondary: #A8F7D5;
  --info: #46AFA1;
  --dark: #34495E;
  --accent: #FF5954;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  font-size: 20px;
  font-family: sans-serif;
}
.app-container--shell {
  height: 100%;
}
